* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: bisque;
}
.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 10px;
  background-color: #fff;
  position: relative;
}
.b-calculating {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  font-size: 0.9rem;
}
.b-calculating__block {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.b-calculating__block:nth-child(1) {
  width: 30%;
}
.b-calculating__block:nth-child(2) {
  width: 70%;
  padding-left: 20px;
}
.b-calculating__rooms__type,
.b-calculating__rooms__part {
  padding: 10px;
  border: 2px solid #f1f1f1;
  border-radius: 3px;
  cursor: pointer;
  color: #333;
}
.b-calculating__rooms__part {
  border-color: #30c7b5;
}
.b-calculating__rooms__part__title {
  font-weight: 700;
  text-transform: uppercase;
}
.b-calculating__rooms__type {
  text-align: center;
}
.b-calculating__rooms__type:hover,
.b-calculating__rooms__type.active,
.b-calculating__rooms__part:hover {
  border: 2px solid #30c7b5;
  color: #30c7b5;
}
.b-calculating__rooms__part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b-calculating__rooms__part__moreinfo {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  opacity: 0;
  transition: all 0.2s linear;
  animation: show 2s 1;
  animation-fill-mode: forwards;
}
.b-calculating__block__container.active .b-calculating__rooms__part__moreinfo {
  display: flex;
  opacity: 1;
  transition: all 0.2s linear;
}
.b-calculating__rooms__part__moreinfo h3 {
  display: inline-block;
  margin-bottom: 7px;
  color: #333;
}
.b-calculating__rooms__part__moreinfo select {
  width: 100%;
  padding: 5px;
}
.b-calculating__rooms__part__moreinfo__item {
  width: 50%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.b-calculating__rooms__type:not(:last-child),
.b-calculating__block__container:not(:last-child) {
  margin-bottom: 13px;
}
.b-bottom-info {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.b-bottom-info__title {
  padding-bottom: 15px;
  margin-bottom: 25px;
  text-align: center;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
.b-bottom-info__container {
  margin: 0 auto 25px;
  max-width: 768px;
  padding: 15px;
}
.b-bottom-info__container__title {
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: #30c7b5;
  border-bottom: 1px solid #ccc;
}
.b-bottom-info__container__detail,
.b-bottom-info__container__total {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.b-bottom-info__container__detail__item {
  margin-bottom: 13px;
}
.b-bottom-info__container__total {
  padding: 15px 0;
  border-top: 1px solid #ccc;
  border-bottom: 2px solid #30c7b5;
}
.b-bottom-info__total {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.val label {
  display: block;
  margin-bottom: 13px;
}
.val button {
  width: 100%;
  padding: 20px;
  background-color: #30c7b5;
  border: 2px solid #30c7b5;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
}
.val button:hover {
  border: 2px solid #1ea091;
}
.read-more {
  text-decoration: underline;
  color: #30c7b5;
  cursor: pointer;
}
.b-calculating__block input {
  min-height: 28px;
  border: 1px solid #333;
}
.b-calculating__result {
  margin-top: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
}
.b-calculating__result span {
  display: block;
  margin-top: 10px;
  font-size: 40px;
  font-weight: 700;
  color: #30c7b5;
}
.b-calculating__popup {
  max-width: 1140px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  z-index: 1;
}
.b-calculating__popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 85%);
}
.close {
  position: absolute;
  right: -28px;
  top: -28px;
  padding: 3px 8px;
  border-radius: 50%;
  background-color: #fff;
  color: #30c7b5;
  cursor: pointer;
}
.b-calculating__block__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  font-size: 0.9rem;
}
.b-calculating__block__list__item {
  width: 50%;
  padding: 5px;
  cursor: pointer;
}
.b-calculating__block__list__item img {
  width: 100%;
  border: 2px solid #ccc;
}
.b-calculating__block__list__item.active img,
.b-calculating__block__list__item:hover img {
  border: 2px solid #30c7b5;
}
.b-calculating__block__list__item.active h3 {
  color: #30c7b5;
}
.b-calculating__block__list__item h3 {
  font-size: 14px;
}
.b-calculating__block__list__item p {
  font-size: 12px;
}
.none {
  display: none;
}
.b-control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
}
.b-control__pdf {
  width: 65% !important;
  margin-right: 2%;
  background-color: #ccc !important;
  border-color: #a95a5a !important;
  pointer-events: none;
}
.b-control__pdf.active {
  background-color: #a95a5a !important;
  pointer-events: visible;
}
.b-control__reset {
  width: 33% !important;
  background-color: lightblue !important;
  color: #1ea091 !important;
}
.b-calculating__rooms__part__moreinfo__item input {
  width: 25%;
  padding: 5px;
  margin-bottom: 13px;
  border-radius: 3px;
}
#area {
  max-width: 180px;
  padding: 5px;
  border-radius: 3px;
}
.error {
  margin-top: 15px;
  border: 2px solid #a95a5a;
  padding: 4px 7px;
  color: #a95a5a;
  text-align: center;
  border-radius: 3px;
}
.red {
  border: 2px solid red !important;
}
.b-popup {
  padding: 15px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.b-popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(51 51 51 / 95%);
  cursor: pointer;
}
.b-popup form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #333;
  text-align: left;
  color: #333;
}
.b-popup form input::placeholder {
  color: #8a8a8a;
}
.b-popup form {
  text-align: center;
}
.b-popup form button {
  min-width: 200px;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #30c7b5;
  background: #30c7b5;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.b-popup form button:hover {
  border: 2px solid #1ea091;
  background: #1ea091;
}
.close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -20px;
  top: -15px;
  border: 1px solid #1ea091;
  border-radius: 50%;
  color: #333;
  cursor: pointer;
}

.close::after {
  content: 'x';
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1110px) {
  .val label {
    text-align: center;
  }
  .val label > input {
    width: 100%;
    margin-top: 7px;
  }
}
@media screen and (max-width: 968px) {
  .b-calculating__block {
    width: 100% !important;
  }
  .b-calculating__block:nth-child(1) {
    order: 1;
  }
  .b-calculating__block:nth-child(2) {
    padding-left: 0;
    margin-bottom: 15px;
    order: 0;
  }
  .b-calculating__rooms__part {
    align-items: baseline;
    flex-wrap: wrap;
  }
  .b-calculating__rooms__part__area input {
    max-width: 85%;
  }
  .val label > input {
    max-width: auto;
  }
}
.after-btn-info {
  margin-top: 13px;
  font-size: 12px;
}
@media screen and (max-width: 968px) {
  .b-calculating__rooms__part__moreinfo h3 {
    font-size: 14px;
  }
  .b-calculating__rooms__part__moreinfo__item input {
    width: 100%;
  }
}

@media print {
  .b-calculating {
    display: none;
  }
  .b-bottom-info__container__detail__item {
    width: 100%;
  }
  .b-bottom-info__container__detail__item:nth-child(even) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  .b-bottom-info__container__total {
    border-top: none;
  }
  .b-popup,
  .b-popup__overlay {
    display: none;
  }
}
